<ion-header>
   <ion-navbar>
      <ion-title>{{ language.name }}</ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding>
   <div id="container_image_language">
      <img [src]="language.image" alt="No tiene imagen" class="image-language" />
   </div>

   <p text-justify>{{ language.description }}</p>
</ion-content>
