<ion-header>
   <ion-navbar>
      <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>Languages</ion-title>
   </ion-navbar>
</ion-header>

<ion-content>
   <ion-list>
      <ion-item *ngFor="let language of languages | async" (click)="openLanguage(language)">
         <ion-avatar item-start>
            <img [src]="language.image">
         </ion-avatar>

         <h3>{{ language.name }}</h3>
      </ion-item>
   </ion-list>
</ion-content>
