<ion-header>
   <ion-navbar>
      <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>Principal</ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding>
   <h3 text-center="">Pagina principal de la App</h3>
</ion-content>
